body a{
	text-decoration:none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  visibility: hidden !important;
}
.goog-te-gadget .goog-te-combo {
  margin: 4px 0;
  height: 40px;
  left: 45%;
  position: relative;
  border-radius: 20px;
  align-items: center;
  font-family: ui-rounded;
}
.goog-te-gadget img {
  height: 0px;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link, .VIpgJd-ZVi9od-l4eHX-hSRGPd:visited, .VIpgJd-ZVi9od-l4eHX-hSRGPd:hover, .VIpgJd-ZVi9od-l4eHX-hSRGPd:active {
  font-size: 0 !important;
}
